<!DOCTYPE html>
<html>
  <head>
    <title>Upload File</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body {
        font-family: sans-serif;
        background-image: url("https://t3.ftcdn.net/jpg/02/38/18/34/360_F_238183482_nR674OSOksAw7UQAEI56j8wBJpnPMYm0.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
      }
      .btn.btn-primary {
        margin-top: 50px !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="text-center mb-5">Upload File</h1>
          <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" class="form-control-file" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">
              Upload
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
